name: Deploy

on:
    push:
        branches: [main]

jobs:
    deploy:
        name: Deploy to GitHub Pages
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'

        permissions:
            contents: read
            pages: write
            id-token: write

        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}

        env:
            REACT_APP_GITHUB_TOKEN: ${{ secrets.REACT_APP_GITHUB_TOKEN }}
        #     REACT_APP_API_KEY: ${{ secrets.REACT_APP_API_KEY }}
        #     REACT_APP_API_ENDPOINT: ${{ secrets.REACT_APP_API_ENDPOINT }}
        #     REACT_APP_DISCORD_CLIENT_ID: ${{ secrets.REACT_APP_DISCORD_CLIENT_ID }}
        #     REACT_APP_DISCORD_REDIRECT_URI: ${{ secrets.REACT_APP_DISCORD_REDIRECT_URI }}
        #     REACT_APP_JWT_SECRET: ${{ secrets.REACT_APP_JWT_SECRET }}
        #     REACT_APP_SESSION_SECRET: ${{ secrets.REACT_APP_SESSION_SECRET }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "20.x"
                  cache: "npm"

            - name: Create .env file
              run: |
                  echo "REACT_APP_GITHUB_TOKEN=${{ secrets.REACT_APP_GITHUB_TOKEN }}" >> .env

            #       echo "REACT_APP_API_KEY=${{ secrets.REACT_APP_API_KEY }}" >> .env
            #       echo "REACT_APP_API_ENDPOINT=${{ secrets.REACT_APP_API_ENDPOINT }}" >> .env
            #       echo "REACT_APP_DISCORD_CLIENT_ID=${{ secrets.REACT_APP_DISCORD_CLIENT_ID }}" >> .env
            #       echo "REACT_APP_DISCORD_REDIRECT_URI=${{ secrets.REACT_APP_DISCORD_REDIRECT_URI }}" >> .env
            #       echo "REACT_APP_JWT_SECRET=${{ secrets.REACT_APP_JWT_SECRET }}" >> .env
            #       echo "REACT_APP_SESSION_SECRET=${{ secrets.REACT_APP_SESSION_SECRET }}" >> .env

            - name: Install dependencies
              run: npm ci

            - name: Build application
              run: npm run build
              env:
                  GENERATE_SOURCEMAP: false

            - name: Sitemap Generation
              run: cd src/utils && node generate-sitemap.mjs
              # If site generaton fails, continue to deploy
              continue-on-error: true

            - name: Setup Pages
              uses: actions/configure-pages@v4

            - name: Upload to GitHub Pages
              uses: actions/upload-pages-artifact@v3
              with:
                  path: build/

            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
